<html>
  <head>
  </head>
  <body>
    <div style="font-size: 1.3rem; font-weight: bold">Log in to 350Brooklyn Bill Tracker</div>
    <p><a href="{{ login_link }}">Click here</a> to be redirected back to the app and log in. This link will expire in one hour.</p>
    <p><span style="font-weight: bold">If you're on desktop:</span> Your session will be saved, and you should not need to log in again for a while.</p>
    <p><span style="font-weight: bold">If you're on iPhone:</span> You may need to take some extra steps to avoid needing to repeat this every time you visit the tracker:</p>
      <ol>
        <li>Long press the link above</li>
        <li>Press "copy link"</li>
        <li>Exit your email app, and open your browser</li>
        <li>Paste the link into the address bar, and load the page</li>
      </ol>
  </body>
</html>
