<html>
  <head>
  </head>
  <body>
    <div style="font-size: 1.3rem; font-weight: bold">Log in to 350Brooklyn Bill Tracker</div>
    <p><a href="{{ login_link }}">Click here</a> to be redirected back to the app and log in.</p>
    <p><span style="font-weight: bold">On desktop:</span> Your session will be saved, and you should not need to repeat this often.</p>
    <p><span style="font-weight: bold">Note for iPhone:</span> Tapping this link from within your email app will open the tracke
      inside your email app. Next time you visit the tracker in your browser, you'll have to do this again. To stay logged in:</p>
      <ol>
        <li>Long press the link above</li>
        <li>Press "copy link"</li>
        <li>Exit your email app, and open your browser</li>
        <li>Paste the link into the address bar, and load the page</li>
      </ol>
  </body>
</html>
