// Shared variables for all components.


// TODO: Delete old palette!
$palette-black: #000000;
$palette-dark-blue: #133c55;
$palette-medium-blue: #386fa4;
$palette-lighter-blue: #4690c1;
$palette-light-blue: #dff9ff;
$palette-red: #ac3931;

// New palette below
// TODO: Separate out the colors we actually use?
$darkest-grey: #17292e;
$darker-grey: #263f45;
$dark-grey: #647882;
$grey: #9eafb5;
$light-grey: #c3cfda;
$lighter-grey: #d7e2ec;
$lightest-grey: #e6f0fa;

$darkest-blue: #063660;
$darker-blue: #0a5699;
$dark-blue: #0d74ce;
$blue: #0f81e8;
$light-blue: #57abf4;
$lighter-blue: #9fcff9;
$lightest-blue: #d9ecfd;

$darker-teal: #197674;
$dark-teal: #24a8a6;
$teal: #40d7d4;
$orange: #ffa902;
$dark-red: #d14600;
$red: #ff6112;
$white: #ffffff;

// Sizes
$page-content-padding: 2rem;