// Global styles for the whole app. Use sparingly. For styles specific to the
// root page, use App.module.scss instead.
//
// The main styling stack is SCSS + CSS modules for each component, with
// some shared variables like the color palette in variables.scss
@import './variables';
@import './typography';
@import './mixins';

// We do use some React-Bootstrap components, and we override the bootstrap
// variables so that it uses our main theme colors.
$font-family-sans-serif: $body-font;
$theme-colors: (
  "primary": $dark-blue,
  "secondary": $dark-blue,
  "danger": $dark-red,
);
$blue: $dark-blue;
$dark: $dark-blue;

// Must put this last for our overrides of the Bootstrap variables to work
@import "~bootstrap/scss/bootstrap";

html {
  width: 100%;
  height: 100%;

  // @include tablet {
  //   font-size: 90%;
  // }

  // @include phone {
  //   font-size: 80%;
  // }
}

body, .root {
  width: 100%;
  height: 100%;
}

body {
  font-family: $body-font;
  font-size: 1rem;

  line-height: 1.5;
}

h1 {
  font-family: $title-font;
  font-size: 2.25rem;
  font-weight: bold;

  @include tablet {
    font-size: 2rem;
  }

  @include phone {
    font-size: 1.75rem;
  }
}

h2 {
  font-family: $title-font;
  font-size: 1.5rem;
  font-weight: bold;

  @include phone {
    font-size: 1.25rem;
  }
}

h3 {
  font-family: $title-font;
  font-size: 1.25rem;
  font-weight: bold;

  @include phone {
    font-size: 1rem;
  }
}
