@import './_variables';
@import './mixins';

.pageContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 2rem 0;
  grid-template-columns: minmax(12.5rem, 23%) 1fr;
  grid-template-areas: 
      "leftNav content";
  
  // Uncomment to debug grid lines:
  // > * {
  //   border: 1px solid black;
  // }

  @include tablet {
    display: block;
  }
}

.leftNav {
  grid-area: leftNav;

  @include tablet {
    // Actually we want this to be off to the side on the right so that it can slide in
    visibility: hidden;
    position: fixed;
    top: 0;
    height: 100%;
    width: 80%;
    left: 100%;
    z-index: 5;
  }

  &.leftNavMobileShown {
    @include tablet {
      visibility: visible;
      left: 20%;
    }
  }
}

.content {
  grid-area: content;
  max-height: 100%;
  overflow-y: auto;
}