@import './_variables.scss';

.pageContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 2rem 0;
  grid-template-columns: 250px 1fr;
  grid-template-areas: 
      "leftNav content";
  
  // Uncomment to debug grid lines:
  // > * {
  //   border: 1px solid black;
  // }
}

.leftNav {
  grid-area: leftNav;
}

.content {
  grid-area: content;
  max-height: 100%;
  overflow-y: auto;
}