@import '../_variables';
@import '../mixins';


.page {
    padding: $page-content-padding;

    @include tablet {
        padding: $page-content-padding-mobile;
    }
}

.trashIcon {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    color: $dark-blue;
}