@import '../_variables.scss';

.page {
    padding: $page-content-padding;
    display: grid;
    grid-template-columns: 200px 1fr 150px 1fr;
    grid-template-rows: auto;
    gap: 15px;
}

.label {
    grid-column: 1;
    font-weight: bold;
}

.content {
    grid-column: 2 / span 3;
}

.sponsorList {
    grid-column: 2 / span 1;
}

.nonSponsorLabel {
    grid-column: 3 / span 1;
    font-weight: bold;
}

.nonSponsorList {
    grid-column: 4 / span 1;
}

.fullWidth {
    grid-column: 1 / span 4;
}