@import '../_variables';
@import '../mixins';


// TODO: Refactor so we don't have the two sharing one CSS file this way?
.page {
    padding: $page-content-padding;
    display: grid;
    grid-template-columns: minmax(8rem, 18%) 1fr 150px 1fr;
    grid-template-rows: auto;
    gap: 15px;

    @include tablet {
        padding: $page-content-padding-mobile;
    }

    @include phone {
        display: block;
    }
}

// TODO: Make this 2x2 grid a shared component with the PersonDetailsPanel!
// and considered getting rid of grid for this altogether
.label {
    grid-column: 1;
    font-weight: bold;

    @include phone {
        &:not(:first-child) {
            margin-top: 1rem;
        }
        margin-bottom: .2rem;
    }
}

.content {
    grid-column: 2 / span 3;
}

.sponsorList {
    grid-column: 2 / span 1;
}

.nonSponsorLabel {
    grid-column: 3 / span 1;
    font-weight: bold;
    margin-top: 1rem;
}

.nonSponsorList {
    grid-column: 4 / span 1;
}

.fullWidth {
    grid-column: 1 / span 4;
}

.trashIcon {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
    color: $dark-blue;
}