@import '../_variables.scss';

.fullScreenContainer {
  width: 100%;
  height: 100%;
  background: $lightest-grey;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.pageContent {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  align-self: center;
  max-width: 40rem;


  .appLogo {
    width: 40%;
    margin-bottom: 1.5rem;
  }

  > form {
    .labelText {
      margin-bottom: .2rem;
      display: block;
      font-weight: bold;
    }

    > button {
      background-color: $palette-lighter-blue;
    };
  
    input {
      width: 26rem;
      display: inline-block;
      margin-right: 10px;
      border-color: $dark-grey;
    }
  }
}