@import '../_variables.scss';

.title {
  color: $palette-medium-blue;
  font-family: $title-font;
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 1px solid $palette-light-blue;
  padding: 20px;
}

.content {
  padding: 20px;

  > h2 {
    font-size: 1.4rem;
    font-family: $title-font;
    color: $palette-medium-blue;
  }

  > p {
    font-size: 0.9rem;
  }
}
