@import '../_variables.scss';

// TODO: Not sure if grid needed?
.itemContainer {
    padding: 1.5rem .4rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 90px 1fr;

    border-top: 1px solid $lighter-grey;
    border-right: 1px solid $lighter-grey;
    border-left: 1px solid $lighter-grey;
    cursor: pointer;
}

.itemContainer:last-of-type {
    border-bottom: 1px solid $palette-light-blue;
}


.itemContainer:hover {
    background-color: $lightest-grey;
}

// .itemContainer > * {
//     border: 1px solid black;
// }

.billTypeIcon {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 70px;
    height: 70px;
    justify-self: center;
    margin-top: 10px;
}

.cityIcon {
    @extend .billTypeIcon;

    fill: $red;
}

.stateIcon {
    @extend .billTypeIcon;

    fill: $orange;
}

.billDetails {
    grid-column-start: 2;
    grid-row-start: 1;
}
  