@import '../variables';
@import '../mixins';

.container {
    display: none;
    background-color: $lightest-grey;
    padding: 1rem;
    vertical-align: middle;
    justify-content: space-between;
    align-items: center;

    img {
        height: 1.5rem;
    }

    a {
        text-decoration: none;
        color: $darkest-grey;
    }

    .appTitleContainer {
        display: flex;
        align-items: start;

        .appTitle {
            text-transform: uppercase;
            font-weight: bold;
            margin-left: .5rem;
        }
    }

    .menuContainer {
        font-weight: bold;
        cursor: pointer;

        > svg {
            margin-left: .5rem;
            margin-right: 1rem;
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    @include tablet {
        display: flex;
    }
}