@import '../_variables.scss';

.title {
    padding-top: 1.4rem;
    color: $darkest-grey;
}

.billCodeName {
    font-style: italic;
}

.checkBox {
    display: inline;
    margin-right: .6rem;
}

.bill {
    display: block;
}