@import '../_variables';
@import '../mixins';

// todo share this component!
.root {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
    gap: 15px;

    @include phone {
        display: block;
    }
}

// This design doesn't work great for the empty values... maybe we need to render something else for that
.label {
    grid-column: 1;
    font-weight: bold;

    @include phone {
        // font-size: 1.1rem;
        &:not(:first-child) {
            margin-top: 1rem;
        }
        margin-bottom: .2rem;

        &.contactInfo {
            text-transform: uppercase;
            margin-bottom: .5rem;
        }
    }


}

.content {
    grid-column: 2;
}

.staffer > svg {
    width: 20px;
    height: 20px;
    stroke: $dark-blue;
    cursor: pointer;
    justify-self: right;
    margin-top: -.3rem;
  }
// .fullWidth {
//     grid-column: 1 / span 4;
// }