@import '../_variables';
@import '../mixins';

.staffer > svg {
    width: 20px;
    height: 20px;
    stroke: $dark-blue;
    cursor: pointer;
    justify-self: right;
    margin-top: -.3rem;
  }
// .fullWidth {
//     grid-column: 1 / span 4;
// }