@import "../variables";
@import "../mixins";

.searchBox {
    margin-bottom: 1rem;
    padding: .5rem .8rem;
    border-radius: 5px;
    border: 1px solid $dark-grey;
    width: 100%;
    max-width: 30rem;

    @include phone {
      padding: .3rem .6rem;
    }
  
  
    &::placeholder {
      background-image: url('../../assets/search.svg');
      background-repeat: no-repeat;
      background-position: right;
    }
  }