// @import "~bootstrap/scss/bootstrap";

// $brown: #584B53;
// $copper: #9D5C63;
// $blue: #D6E3F8;
// $beige: #FEF5EF;
// $sand: #E4BB97;

html, body, .root {
  width: 100%;
  height: 100%;
}

a:link {
  color: brown;
}

// .red {
//   color: $red;
// }

// .background-blue {
//   background-color: $blue;
// }

